# dependencies
/node_modules
/.pnp
.pnp.js

# next.js build output
/.next/
/out/
/dist

# production
/build

# misc
.DS_Store
*.pem
*.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# turbo
.turbo

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
